@media (max-width:1200px) {
 .container {
  width:100%;
 }
}

@media (max-width:1100px) {
.navbar-brand {
  width: 23%;
}
.widthleft{
	width: 85px;
}
.card-body p{
	padding-right: 0;
}
}

@media (max-width:1000px) {
.navbar-brand {
  width: 20%;
}

.thanks {
  width: 100%;
}
.thanks h2{
	font-size: 25px !important;
	line-height: 30px !important;
}

.navbar-nav{
	  width: 70%;
}
.baners_img {
  margin-top: 2em;
}
}

@media (max-width:900px) {
.navbar-brand {
  width: auto;
}
}
 

@media (max-width:767px) {
	.slick-slide img{
	width:95%;	
	}
	
	.navbar-nav .nav-link{
		padding-left:20px !important;
	}
	
	#Contact .purchase_btn {
  width: 100%;
  margin: auto;
  display: block;
}
 
	.shape11 , .shape1{
		display:none;
	}
	
	#Contact .contac_btn{
	display: block;
	margin-bottom: 1em;
	padding: 50px 17px;
	width: 100%;
	}
	
	.air_feat {
  width: 100%;
  padding-top: 15px;
  padding-left:0;
}
	 
#features .card-body{
display:block !important;
padding:30px;
}	

#footer .footer-top .footer-links ul li{
	padding-top: 15px !important;
}

#footer .footer-top .footer-links ul {
	display:block !important;
	margin-top:0;
}


#home h2  , #faq h2{
font-size: 30px
}

.widthleft{
	padding-top: 0;
	margin:0;
}
.card-body h4 , .card-body p{
	text-align:center;
}
.ament-text{
	display:none;
}

.features_wraper{
 padding: 20px;
margin-top: 25px;
margin-bottom: 50px;
}

#home h2 
{
margin-top: 30px;
line-height: 40px;
}
 
.wid-auto {
  width: 100%;
}

.right {
  float: left;
}

.faqs-dd .card-title.collapsed {
	font-size: 15px;
}

.faqs-dd .card-body {
	 font-size: 15px;
}

.skew1 , .skew2{
  transform: none;
  margin-bottom: 1em;
}
	
.lead{
	font-size: 15px
}

.button_zal{
	margin-left: 15px;
}

#features{
	position: relative;
z-index: 9;
padding-left: 25px;
}

#features .headings{
	font-size: 26px;
}

.navigation.sidebar-left .collapse
{
	border-right: 1px solid #101421;
background-color: #101421;
}

	.dash_right{
		padding-left: 10px;
	}
	
	.shape1 , .shape2 , .shape3, .shape4 , .shape5 {
		display:none;
	}
	
	#main-navbar{
	display:none;
}
.navigation
{
	min-height: 60px;
}
.shape6 , .shape7 , .shape3 {
display:none;	
}

.social-links{
	visibility:visible !important;
	margin-bottom:2em;
}

.integration-bubbles .section-heading , #success1 .section-heading{
	border:none;
}

#success1 .section-heading
{
	padding-left: 0;
}

#features .shadow{
	min-height:auto !important;
	padding: 10px 0;
}

#success1 .section-heading{
	text-align:left;
}
}

